<div class="row">
    <div class="card-deck">
         {{# each productChunks }}
        {{# each this}}
        <div class="col-4  card-bottom">
        <div class="card">
            <img class="card-img-top" src="{{ this.imagePath }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><span>{{ this.title }}<br> <b>{{ this.price }}$</b> </span></h5>
            <p class="card-text">{{ this.description }}</p>
            <a href="/add-to-cart/{{this._id}}" class="btn btn-success">Add to Shopping Cart</a>
            </div>
        </div>
        </div>

    {{/each}}
    {{/each }}
</div>
</div>
